:root {
    --sidenav-bg-color: #111;
    --sidenav-menu-color: #818181;
    --sidenav-menu-hover-color: #f1f1f1;
    --bg-color: rgba(241, 241, 241, 0.815);
    --footer-bg-color: #f8f9fa;
    --box-shadow-color: rgba(0, 0, 0, 0.1);

    --btn-color: #fff;
    --btn-bg-color: #007bff;
    --btn-bg-hover-color: #0056b3;

    --course-color: #fff;
    --course-java-bg-color: #e57373;
    --course-java-full-stack-bg-color: #81c784;
    --course-mern-bg-color: #64b5f6;
    --course-react-bg-color: #ffb74d;

    --course-batch-timing-header-color: #000;
}

body {
    padding-top: 56px;
}

.root-container {
    background-color: var(--bg-color);
}

.company-logo {
    max-height: 40px;
    margin-right: 10px;
}

.company-name {
    font-size: 24px;
    font-weight: bold;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidenav-bg-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: var(--sidenav-menu-color);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--sidenav-menu-hover-color)
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.notification-banner {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    text-align: center;
    z-index: 1000;
    margin-top: 12px;
    width: 100%;
}

.notification-banner a {
    color: #ffc107;
    text-decoration: underline;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.course {
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
}

.course-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.course-icon {
    font-size: 2.5em;
    margin-right: 10px;
}

.course-title {
    font-family: 'San Francisco', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.course .new-batch-title {
    color: var(--course-batch-timing-header-color);
}

.java {
    background-color: var(--course-java-bg-color);
    color: var(--course-color);
}

.java-full-stack {
    background-color: var(--course-java-full-stack-bg-color);
    color: var(--course-color);
}

.mern {
    background-color: var(--course-mern-bg-color);
    color: var(--course-color);
}

.react {
    background-color: var(--course-react-bg-color);
    color: var(--course-color);
}

.read-more-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.read-more-btn:hover {
    background-color: var(--btn-bg-hover-color);
}

.footer {
    background-color: var(--footer-bg-color);
    padding: 20px 0;
    margin-top: 20px;
    color: #fff;
    background-color: rgb(46, 9, 9);
}

.copy-right {
    font-size: 14px;
}

.course-content-card {
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    text-align: center;
}

.course-content-card .course-title, .batch-timings-card .course-title {
    color: #063a72
}

.circular-logo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
}

.category {
    padding: 20px;
    position: relative;
    text-align: left;
}

.topic-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.topic-list>li {
    font-weight: bold;
}

.topic-list>li>ul>li {
    font-weight: normal;
}

.download-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.download-btn:visited, .download-btn:hover {
    background-color: var(--btn-bg-hover-color);
    color: var(--btn-color);
}

.batch-timings-card {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    padding: 20px;
}

.batch-timings-card h2 {
    margin-bottom: 20px;
}

.batch-timings {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.batch-timings li {
    margin-bottom: 10px;
}