<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h5>Contact Us</h5>
            <p>Email: techteachhub@outlook.com</p>
            <p>Phone: +91 89193-70764</p>
        </div>
        <div class="col-md-4">
            <h5>Address</h5>
            <p>Online classes only, India</p>
        </div>
        <div class="col-md-4">
            <p class="copy-right">&copy; 2024 TechTeachHub.com All rights reserved.</p>
            <p version="version">v 0.0.0</p>
        </div>
    </div>
</div>